@import '../assets/css/iconfont.css';
.btn-group{
    z-index: 9999;
    position: absolute;
    right: 20px;
    top: 12px;
}
.editable-btn{
    border: none;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    margin-right: 4px;
}
.editable-btn:disabled:hover{
    cursor: not-allowed;
}
.editable-btn:hover{
    cursor: pointer;
}
.tooltip-wrapper{
    background-color: rgba(0,0,0,0.45);
    border-radius: 4px;
    padding: 4px 6px;
    color: #ffffff;
}